<div *ngIf="mileStone" class="card-body">
  <h4>{{mileStone.name}}</h4>

  <div class="mb-3">
    <div class="flex-fill">
      <ngb-progressbar class="stat statusbar-hover" [max]="100" [value]="getStatus(mileStone)" [showValue]="true"
                       type="info"
                       height="50px"
                       ngbTooltip="from: {{mileStone.startDate | date :'dd MMM'}} to: {{mileStone.finishDate | date :'dd MMM'}}">
      </ngb-progressbar>
    </div>
  </div>
  <div class="mb-3">
    <app-task-element [mileStoneId]="mileStone.id"></app-task-element>
  </div>
</div>

<div class="card-body">
  <app-kpi-items [maxHeightElt]="200" [mileStoneId]="mileStone.id" [kpis]="kpis"></app-kpi-items>
</div>

<div *ngIf="!(mileStone)">
  <app-pre-loader-small></app-pre-loader-small>
</div>
