<div class="py-5" *ngIf="mileStones && kpis && resources">

  <div class="row">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="../..">project details</a>
      </li>
    </ul>
    <h1>Butler</h1>

    <h5 class="h5 w-50 text-wrap">
      Про-активный ассистент, знающий, что делает твоя команда и понимающий контекст твоего проекта.
      Конспертирует совещания, отслеживает даты и организует проектную деятельность
    </h5>

  </div>

  <div class="mt-3">
    <div class="row">

      <div class="col-8">

        <div class="row">

          <div class="col-6">
            <h6><b>Resources</b></h6>
            <ul class="list-group list-group-flush" [ngStyle]="{'max-height.px': 200}" style=" overflow-y: auto">
              <li class="list-group-item" *ngFor="let res of resources">
                {{res.name}}: {{res.time}} h, {{res.cost}}$
              </li>
            </ul>
          </div>

          <div class="col-6">
            <h6><b>KPI's</b></h6>
            <ul class="list-group list-group-flush" [ngStyle]="{'max-height.px': 200}" style="overflow-y: auto">
              <li class="list-group-item list-group-item-action"
                  *ngFor="let kpi of kpis">
                {{kpi.name}}
              </li>
            </ul>
          </div>

        </div>

      </div>

      <div class="col-4">
        <app-time-line [roadMapId]="roadMapId" [horizontal]="true" [hover]="false" [height]=30></app-time-line>
      </div>

    </div>

  </div>

  <div class="mt-3">
    <div class="row row-cols-1 row-cols-md-3 g-1">
      <div class="col" *ngFor="let mileStone of mileStones">
        <div class="card">
          <app-mile-stone-element [kpis]="kpisByMileStoneId(mileStone.id)" [mileStone]="mileStone"></app-mile-stone-element>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!(mileStones && kpis && resources)">
  <app-pre-loader></app-pre-loader>
</div>
