<div class="d-flex justify-content-between">
  <h5>KPI's</h5>
  <a class="nav-link" style="cursor: pointer"
     (click)="openForm = !openForm"> {{openForm ? 'cancel' : 'add kpi'}} </a>
</div>

<div *ngIf="openForm">
  <app-add-kpi [mileStoneId]="mileStoneId" (saved)="kpiAdded($event)"></app-add-kpi>
</div>

<div *ngIf="kpis" [ngStyle]="{'max-height.px': maxHeightElt}" style="overflow-y: auto">
  <div class="bg-warning rounded p-1 ps-3 pe-3 mt-1" *ngFor="let kpi of kpis"
       [ngClass]="removeId === kpi.id ? 'bg-danger' : ''">
    <div class="d-flex justify-content-between">
      <div>{{kpi.name}}</div>
      <a style="cursor: pointer" (click)="onClickRemoveKpi(kpi)">X</a>
    </div>
  </div>
</div>

<div *ngIf="!kpis">
  <app-pre-loader-small></app-pre-loader-small>
</div>
