<div *ngIf="task" class="card-body">
  <h4>{{task.name}}</h4>

  <div class="mb-3">
    <div class="flex-fill">
      <ngb-progressbar class="stat statusbar-hover" [max]="100" [value]="getStatus(task)" [showValue]="true" type="info"
                       height="50px"
                       ngbTooltip="from: {{task.startDate | date :'dd MMM'}} to: {{task.finishDate | date :'dd MMM'}}">
      </ngb-progressbar>
    </div>
  </div>
  <div class="mb-3">
    <app-sprint-elements [taskId]="task.id"></app-sprint-elements>
  </div>
</div>

<div class="card-body">
  <app-kpi-items [maxHeightElt]="200" [taskId]="task.id" [kpis]="kpis"></app-kpi-items>
</div>

<div *ngIf="!(task)">
  <app-pre-loader-small></app-pre-loader-small>
</div>
